<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<style>
	*{
		font-family: 'Roboto', sans-serif;
	}

	body {
    	background-color: #ffffff;
		}
	h1 {
    	color: #f7a62e;
    	text-align: center;
		}
	p {
    	font-family: 'Roboto', sans-serif;
    	font-size: 20px;
		padding-left: 30px;
		}
	li{
		padding-top:3px;
		line-height: 2.3;
	}
	.text-block{
		margin: 30px;
  		background-color: #ffffff;
  		border: 1px solid black;
  		opacity: 0.6;
	}
	.container{
		position: relative;
		
	}
	img{
		opacity:0.5;
		height: 500;
	}

</style>
<body>

	<h1> Home Page</h1>
	<p>  Welcome to join our autumn community! 🍂</p>
	<div class="container">
		<div class ="text-block">
			<p><ul>
  				<li><a href="/login">Login</a></li>
  				<li><a href="/register">Register</a></li>
  				<li><a href="/logout">Logout</a></li>
			</ul></p>
		</div>
	</div>
	
</body>
</html>

